body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f2f2f2;
    background-image: radial-gradient(circle, rgba(255, 215, 0, 0.5) 20%, transparent 20%), radial-gradient(circle, rgba(255, 215, 0, 0.5) 20%, transparent 20%);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    margin: 0;
    padding: 0;
  }
  
  /* Main About Page Container */
  .about-container {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border: 5px solid black;
    box-shadow: 10px 10px 0px #ffdd00, 10px 10px 0px 5px black;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .main-content {
    margin-top: 50px;
  }
  
  h1 {
    font-size: 3rem;
    color: #ff0000;
    text-shadow: 3px 3px #000;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 20px;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  a {
    color: #ff0000;
    text-decoration: underline;
  }
  
  ul {
    text-align: left;
    font-size: 1.2rem;
    margin-top: 10px;
    list-style: none;
  }
  
  ul li {
    margin: 10px 0;
    position: relative;
    padding-left: 20px;
  }
  
  ul li::before {
    content: "•";
    color: #ff0000;
    position: absolute;
    left: 0;
    font-size: 2rem;
    line-height: 1;
  }  